#############################
# Graylog Server Configuration
#############################

# Узел является master
is_master = true

# Файл идентификатора ноды
node_id_file = {{ graylog_local_dir }}/node-id

#############################
# Аутентификация
#############################

password_secret = {{ graylog_password_secret }}
root_username = {{ graylog_root_user }}
root_password_sha2 = {{ graylog_root_password_sha2 }}
root_timezone = UTC

#############################
# HTTP / REST API Settings
#############################

http_bind_address = {{ graylog_http_bind_address }}
http_publish_uri = {{ graylog_http_publish_uri }}

rest_enable_cors = true
rest_enable_gzip = true

#############################
# MongoDB
#############################

mongodb_uri = {{ graylog_mongodb_uri }}
mongodb_max_connections = 1000
mongodb_threads_allowed_to_block_multiplier = 5

#############################
# OpenSearch (Search Backend)
#############################

# Хост OpenSearch
opensearch_hosts =  {{ graylog_opensearch_hosts | join(',') }}

# ВАЖНО — версия OpenSearch 1.x
opensearch_version = 1

opensearch_ssl_verify = false

# Логин/пароль
opensearch_username = admin
opensearch_password = admin

#############################
# Message Journal
#############################

message_journal_enabled = true
message_journal_dir = /var/lib/graylog-server/journal
message_journal_max_age = 12h
message_journal_max_size = 5gb

#############################
# Processing
#############################

processbuffer_processors = 5
outputbuffer_processors = 3
processor_wait_strategy = blocking
ring_size = 65536

#############################
# Misc Graylog Settings
#############################

# Отключаем DataNode (нужно для GL 5.x, но для 4.3 нет)
datanode_enabled = false

lb_recognition_period_seconds = 3
gc_warning_threshold = 1s
http_enable_cors = true
allow_highlighting = true

#############################
# Logging
#############################
# *Включается через отдельный лог4j файл (не здесь)*
#############################

