server {
    listen 80;
    server_name grayserver;
    return 301 https://$host$request_uri;
}

# HTTPS reverse proxy for Graylog
server {
    listen 443 ssl;
    server_name grayserver;

    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};

    include /etc/ssl/ssl.conf;


    access_log {{ nginx_log_directory }}/access.log;
    error_log  {{ nginx_log_directory }}/error.log;

    location / {
        proxy_pass {{ nginx_proxy_pass }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;

        proxy_http_version 1.1;

        # WebSockets
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}