# -------------------------------
# Удаление старой версии Elasticsearch
# -------------------------------

- name: Stop Elasticsearch if running
  become: true
  systemd:
    name: elasticsearch
    state: stopped
  ignore_errors: true

- name: Disable Elasticsearch service
  become: true
  systemd:
    name: elasticsearch
    enabled: false
  ignore_errors: true

- name: Remove Elasticsearch package
  become: true
  package:
    name: elasticsearch
    state: absent
  ignore_errors: true

- name: Remove Elasticsearch directories
  become: true
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/elasticsearch
    - /var/log/elasticsearch
    - /etc/elasticsearch
  ignore_errors: true

- name: Remove Elasticsearch systemd unit file
  become: true
  file:
    path: /usr/lib/systemd/system/elasticsearch.service
    state: absent
  ignore_errors: true

- name: Remove elasticsearch user
  become: true
  user:
    name: elasticsearch
    state: absent
  ignore_errors: true

- name: Remove elasticsearch group
  become: true
  group:
    name: elasticsearch
    state: absent
  ignore_errors: true

- name: Remove Elasticsearch repo file (if exists)
  become: true
  file:
    path: /etc/yum.repos.d/elasticsearch.repo
    state: absent
  ignore_errors: true

- name: Reload systemd daemon
  become: true
  systemd:
    daemon_reload: true
  ignore_errors: true

- name: Clean DNF cache after removal
  become: true
  command: dnf clean all
  ignore_errors: true

