{{ elasticsearch_path_log }}/*.log
{{ elasticsearch_path_log }}/*.json
{{ elasticsearch_path_log }}/gc.log {
    weekly
    rotate {{ logrotate.rotate }}
    size {{ logrotate.size }}
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}
