*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# loopback
-A INPUT -i lo -j ACCEPT

# established
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# SSH
-A INPUT -p tcp --dport {{ ssh_port }} -j ACCEPT

# HTTP / HTTPS
-A INPUT -p tcp --dport {{ http_port }} -j ACCEPT
-A INPUT -p tcp --dport {{ https_port }} -j ACCEPT

# Graylog local only
-A INPUT -p tcp --dport {{ graylog_port }} -s {{ local_host }} -j ACCEPT
-A INPUT -p tcp --dport {{ elasticsearch_port }} -s {{ local_host }} -j ACCEPT
-A INPUT -p tcp --dport {{ mongodb_port }} -s {{ local_host }} -j ACCEPT

# ICMP
-A INPUT -p icmp -j ACCEPT

# log + drop
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables-drop: " --log-level 4
-A INPUT -j DROP

COMMIT
