---
# tasks file for roles/firewall_iptables

- name: Firewall via iptables (safe apply)
  when: run | bool or firewall | bool
  block:

    - name: Backup current iptables
      become: true
      command: iptables-save
      register: iptables_current
      changed_when: false

    - name: Save iptables backup to file
      become: true
      copy:
        content: "{{ iptables_current.stdout }}"
        dest: "{{ iptables_backup }}"
        mode: '0600'

    - name: Render new iptables rules
      template:
        src: rules.v4.j2
        dest: /tmp/rules.v4
        mode: '0600'


    - name: Apply new iptables rules
      become: true
      shell: |
        iptables-restore < /tmp/rules.v4


    - name: Wait to ensure SSH is alive
      wait_for:
        host: "{{ local_host }}"
        port: "{{ ssh_port }}"
        timeout: 10


    - name: Save iptables rules permanently
      command: service iptables save
      failed_when: false

  rescue:

    - name: ROLLBACK iptables from backup
      become: true
      shell: |
        iptables-restore < "{{ iptables_backup }}"


    - name: Fail with rollback message
      fail:
        msg: "iptables changes rolled back due to failure"

