# -------------------------------
# Удаление старой версии Elasticsearch
# -------------------------------

- name: Stop Elasticsearch if running
  systemd:
    name: elasticsearch
    state: stopped
  ignore_errors: true

- name: Disable Elasticsearch service
  systemd:
    name: elasticsearch
    enabled: false
  ignore_errors: true

- name: Remove Elasticsearch package
  package:
    name: elasticsearch
    state: absent
  ignore_errors: true

- name: Remove old Elasticsearch directories
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /var/lib/elasticsearch
    - /var/log/elasticsearch
    - /etc/elasticsearch
  ignore_errors: true

- name: Remove Elasticsearch repo file (if exists)
  file:
    path: /etc/yum.repos.d/elasticsearch.repo
    state: absent
  ignore_errors: true

- name: Clean DNF cache after removal
  command: dnf clean all
  ignore_errors: true
