---
# Полное удаление OpenSearch

- name: Stop OpenSearch service
  become: true
  systemd:
    name: opensearch
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove OpenSearch package
  become: true
  package:
    name: opensearch
    state: absent
  ignore_errors: true

- name: Remove OpenSearch directories
  become: true
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /usr/share/opensearch
    - /etc/opensearch
    - /var/log/opensearch
    - /var/lib/opensearch
  ignore_errors: true

- name: Remove OpenSearch repo file
  become: true
  file:
    path: /etc/yum.repos.d/opensearch.repo
    state: absent
  ignore_errors: true

- name: Clean DNF cache
  become: true
  command: dnf clean all
