---
- name: Stop Elasticsearch if running
  become: true
  systemd:
    name: elasticsearch
    state: stopped
    enabled: false
  ignore_errors: true


- name: Remove Elasticsearch package
  become: true
  package:
    name: elasticsearch
    state: absent
  ignore_errors: true


- name: Remove Elasticsearch directories
  become: true
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/elasticsearch
    - "{{ elasticsearch_log }}"
    - /etc/elasticsearch
  ignore_errors: true


- name: Reload systemd daemon
  become: true
  systemd:
    daemon_reload: true
  ignore_errors: true
