# -------------------------------
# Удаление старой версии MongoDB
# -------------------------------

- name: Stop MongoDB if running
  become: true
  systemd:
    name: mongod
    state: stopped
  ignore_errors: true

- name: Disable MongoDB service
  become: true
  systemd:
    name: mongod
    enabled: false
  ignore_errors: true

- name: Remove MongoDB packages
  become: true
  package:
    name:
      - mongodb-org
      - mongodb-org-server
      - mongodb-org-shell
      - mongodb-org-mongos
      - mongodb-org-tools
    state: absent
  ignore_errors: true

- name: Remove MongoDB data directory
  become: true
  file:
    path: /var/lib/mongo
    state: absent
  ignore_errors: true

- name: Remove MongoDB log directory
  become: true
  file:
    path: /var/log/mongodb
    state: absent
  ignore_errors: true

- name: Remove MongoDB config file
  become: true
  file:
    path: /etc/mongod.conf
    state: absent
  ignore_errors: true

- name: Remove MongoDB systemd unit
  become: true
  file:
    path: /usr/lib/systemd/system/mongod.service
    state: absent
  ignore_errors: true

- name: Remove MongoDB user
  become: true
  user:
    name: mongod
    state: absent
  ignore_errors: true

- name: Remove MongoDB group
  become: true
  group:
    name: mongod
    state: absent
  ignore_errors: true

- name: Remove MongoDB repo file
  become: true
  file:
    path: /etc/yum.repos.d/mongodb-org.repo
    state: absent
  ignore_errors: true

- name: Reload systemd daemon
  become: true
  systemd:
    daemon_reload: true
  ignore_errors: true

- name: Clean DNF cache
  become: true
  command: dnf clean all
  ignore_errors: true
