---
# Установка MongoDB (локально)

- name: Check if local MongoDB packages exist
  stat:
    path: "{{ local_repo_dir }}/{{ item }}"
  register: mongodb_local_files
  loop: "{{ mongodb_rpms }}"


- name: Import MongoDB GPG key
  rpm_key:
    state: present
    key: "{{ local_repo_dir }}/server-4.4.asc"

# Копирование и установка
- name: Install MongoDB (offline, via loop)
  become: true
  block:

    - name: Copy MongoDB RPM to /tmp
      copy:
        src: "{{ local_repo_dir }}/{{ item.item }}"
        dest: /tmp/
      loop: "{{ mongodb_local_files.results }}"
      when: item.stat.exists

    - name: Install MongoDB RPMs one-by-one (preserves dependency order)
      dnf:
        name: "/tmp/{{ item.item }}"
        state: present
        disable_gpg_check: false
      loop: "{{ mongodb_local_files.results }}"
      when: item.stat.exists

- name: Enable and start MongoDB
  become: true
  systemd:
    name: mongod
    enabled: true
    state: started

- name: Check MongoDB is running
  become: true
  command: "mongo --eval 'db.runCommand({ ping: 1 })'"
  register: mongo_ping
  retries: 10
  delay: 5
  until: mongo_ping.rc == 0