---

- name: Set ES requirements
  sysctl:
    name: vm.max_map_count
    value: 262144
    state: present
    reload: yes

- name: Copy Elasticsearch RPM
  copy:
    src: "{{ elastic_rpm }}"
    dest: /tmp/

#- name: Install Elasticsearch offline
#  command: "dnf install -y --nogpgcheck /tmp/{{ elastic_rpm }}"

- name: Install Elasticsearch offline (no repos)
  dnf:
    name: "/tmp/{{ elastic_rpm }}"
    state: present
    disable_gpg_check: true
    disablerepo: "*"


- name: Enable Elasticsearch
  systemd:
    name: elasticsearch
    enabled: true
    state: started
