---
- name: Установка GPG ключа Elastic
  rpm_key:
    state: present
    key: "{{ local_repo_dir }}/GPG-KEY-elasticsearch"


- name: Create Metricbeat log directory
  file:
    path: "{{ metricbeat_log }}"
    state: directory
    owner: root
    group: root
    mode: '0755'


- name: Install Metricbeat from offline repo
  dnf:
    name: metricbeat
    state: present
    disablerepo: "*"
    enablerepo: "graylog-offline"


- name: Развёртывание конфига Metricbeat
  template:
    src: metricbeat.yml.j2
    dest: "{{ metricbeat_config_path }}"
    owner: root
    group: root
    mode: '0644'

- name: Включение и запуск Metricbeat
  service:
    name: metricbeat
    enabled: yes
    state: started
