---
# ===============================
# 1. COPY & INSTALL GRAYLOG RPM
# ===============================

- name: Copy Graylog RPM packages to target host
  become: true
  copy:
    src: "{{ item }}"
    dest: /tmp/
  loop: "{{ graylog_local_rpms }}"

#- name: Install Graylog packages offline
#  become: true
#  yum:
#    name: "/tmp/{{ item }}"
#    state: present
#    disable_gpg_check: true
#  loop: "{{ graylog_local_rpms }}"

- name: Install Graylog packages offline
  become: true
  yum:
    name: "/tmp/{{ item }}"
    state: present
    disable_gpg_check: true
  loop:
    - "graylog-server-4.3.15-1.noarch.rpm"
    - "graylog-integrations-plugins-4.3.15-1.noarch.rpm"
    - "graylog-enterprise-plugins-4.3.15-1.x86_64.rpm"
    - "graylog-enterprise-integrations-plugins-4.3.15-1.noarch.rpm"


#- name: Remove Elasticsearch 6 storage plugin
#  become: true
#  file:
#    path: "{{ plugin_dir }}/graylog-storage-elasticsearch6-4.3.15.jar"
#    state: absent

# =========================================================
# 2. УДАЛЯЕМ ВСЕ ES6-ПЛАГИНЫ, ИДУЩИЕ В СОСТАВЕ RPM
# =========================================================

#- name: Remove Elasticsearch 6 storage plugins installed by RPM
#  become: true
#  file:
#    path: "/usr/share/graylog-server/plugin"
#    state: absent

#- name: Recreate plugin dir
#  become: true
#  file:
#    path: "/usr/share/graylog-server/plugin"
#    state: directory
#    owner: graylog
#    group: graylog
#    mode: '0755'


# ===============================
# 4. COPY ONLY NEEDED PLUGINS
# ===============================

#- name: Copy Graylog plugin files
#  become: true
#  copy:
#    src: "{{ item }}"
#    dest: /usr/share/graylog-server/plugin/
#    owner: graylog
#    group: graylog
#    mode: 0644
#  loop:
#    - graylog-plugin-aws-4.3.15.jar
#    - graylog-plugin-collector-4.3.15.jar
#    - graylog-plugin-threatintel-4.3.15.jar
#    - graylog-storage-elasticsearch7-4.3.15.jar


# =========================================================
# 3. СОЗДАЕМ ДИРЕКТОРИИ GRAYLOG
# =========================================================

- name: Ensure /etc/graylog/server directory exists
  become: true
  file:
    path: "{{ graylog_local_dir }}"
    state: directory
    owner: graylog
    group: graylog
    mode: '0750'


# =========================================================
# 5. SECRETS / PASSWORDS
# =========================================================

- name: Ensure pwgen is installed
  become: true
  package:
    name: pwgen
    state: present

- name: Generate Graylog password secret
  become: true
  command: "pwgen -N 1 -s 96"
  register: graylog_secret
  when: graylog_password_secret is not defined or graylog_password_secret == ""
  changed_when: false

# Устанавливаем секрет, не перезаписывая существующее значение
- name: Set fact for password secret
  set_fact:
    graylog_password_secret: "{{ graylog_secret.stdout if (graylog_secret.stdout is defined) else graylog_password_secret }}"


# Генерация SHA256 хеша пароля админа
- name: Generate SHA2 hash for Graylog admin password
  become: true
  shell: "echo -n '{{ graylog_root_password }}' | sha256sum"
  register: graylog_password_hash

#сохраняем хеш!
- name: Set Graylog password hash fact
  set_fact:
    graylog_root_password_sha2: "{{ graylog_password_hash.stdout.split()[0] }}"



# =========================================================
# 6. WAIT FOR MONGO & ELASTICSEARCH
# =========================================================


- name: Wait for Elasticsearch to respond
  shell: "curl -s -o /dev/null -w '%{http_code}' http://127.0.0.1:9200"
  register: es_status
  retries: 20
  delay: 3
  until: es_status.stdout == "200"
  changed_when: false


- name: Wait for MongoDB port
  wait_for:
    host: "127.0.0.1"
    port: 27017
    delay: 2
    timeout: 30


# =========================================================
# 7. TEMPLATE CONFIG + START SERVICE
# =========================================================

- name: Template Graylog configuration file
  become: true
  template:
    src: graylog.conf.j2
    dest: "{{ graylog_local_dir }}/server.conf"
    owner: root
    group: graylog
    mode: '0640'
  notify:
    - daemon-reload
    - restart graylog

- name: Ensure Graylog service is enabled and started
  become: true
  systemd:
    name: graylog-server
    enabled: true
    state: started
