---
# Установка MongoDB (локально)

#- name: Check if local MongoDB packages exist
#  stat:
#    path: "{{ local_repo_dir }}/{{ item }}"
#  register: mongodb_local_files
#  loop: "{{ mongodb_rpms }}"

# Импортируем GPG ключ (offline)
- name: Import MongoDB GPG key
  rpm_key:
    state: present
    key: "{{ local_repo_dir }}/server-4.4.asc"

# Копирование и установка
#- name: Install MongoDB (offline, via loop)
#  become: true
#  block:

#    - name: Copy MongoDB RPM to /tmp
#      copy:
#        src: "{{ local_repo_dir }}/{{ item.item }}"
#        dest: /tmp/
#      loop: "{{ mongodb_local_files.results }}"
#      when: item.stat.exists

#    - name: Install MongoDB RPMs offline
#      become: true
#      shell: |
#        dnf install -y \
#          mongodb-org-server-4.4.29-1.el7.x86_64.rpm \
#          mongodb-org-shell-4.4.29-1.el7.x86_64.rpm \
#          mongodb-org-mongos-4.4.29-1.el7.x86_64.rpm \
#          mongodb-org-tools-4.4.29-1.el7.x86_64.rpm \
#          --disablerepo="*"
#      args:
#        chdir: "{{ role_path }}/files"

- name: Install MongoDB packages from offline repo
  become: true
  dnf:
    name:
      - mongodb-org-server
      - mongodb-org-shell
      - mongodb-org-mongos
      - mongodb-org-tools
    state: present
    disablerepo: "*"
    enablerepo: "graylog-offline"
    disable_gpg_check: true


- name: Enable and start MongoDB
  become: true
  systemd:
    name: mongod
    enabled: true
    state: started

- name: Check MongoDB is running
  become: true
  command: "mongo --eval 'db.runCommand({ ping: 1 })'"
  register: mongo_ping
  retries: 10
  delay: 5
  until: mongo_ping.rc == 0