---
# Установка MongoDB (локально)


# Импортируем GPG ключ (offline)
- name: Import MongoDB GPG key
  rpm_key:
    state: present
    key: "{{ local_repo_dir }}/server-4.4.asc"


- name: Install MongoDB packages from offline repo
  become: true
  dnf:
    name:
      - mongodb-org-server
      - mongodb-org-shell
      - mongodb-org-mongos
      - mongodb-org-tools
    state: present
    disablerepo: "*"
    enablerepo: "graylog-offline"
    disable_gpg_check: true


- name: Enable and start MongoDB
  become: true
  systemd:
    name: mongod
    enabled: true
    state: started

- name: Check MongoDB is running
  become: true
  command: "mongo --eval 'db.runCommand({ ping: 1 })'"
  register: mongo_ping
  retries: 10
  delay: 5
  until: mongo_ping.rc == 0