---
# ===============================
# 1.  INSTALL GRAYLOG RPM
# ===============================

- name: Install Graylog packages from offline repo
  become: true
  dnf:
    name:
      - graylog-server
      - graylog-integrations-plugins
      - graylog-enterprise-plugins
      - graylog-enterprise-integrations-plugins
    state: present
    disablerepo: "*"
    enablerepo: "graylog-offline"
    disable_gpg_check: true

#- name: Copy Graylog RPM packages to target host
#  become: true
#  copy:
#    src: "{{ item }}"
#    dest: /tmp/
#  loop: "{{ graylog_local_rpms }}"


#- name: Install Graylog RPMs offline (no repos)
#  become: true
#  shell: |
#    dnf install -y \
#      graylog-server-4.3.15-1.noarch.rpm \
#      graylog-integrations-plugins-4.3.15-1.noarch.rpm \
#      graylog-enterprise-plugins-4.3.15-1.x86_64.rpm \
#      graylog-enterprise-integrations-plugins-4.3.15-1.noarch.rpm \
#      --disablerepo="*"
#  args:
#    chdir: "{{ role_path }}/files"


# =========================================================
# 3. СОЗДАЕМ ДИРЕКТОРИИ GRAYLOG
# =========================================================

- name: Ensure /etc/graylog/server directory exists
  become: true
  file:
    path: "{{ graylog_local_dir }}"
    state: directory
    owner: graylog
    group: graylog
    mode: '0750'


# =========================================================
# 5. SECRETS / PASSWORDS
# =========================================================

- name: Generate Graylog password secret
  become: true
  command: "openssl rand -hex 48" #"pwgen -N 1 -s 96"
  register: graylog_secret
  when: graylog_password_secret is not defined or graylog_password_secret == ""
  changed_when: false

# Устанавливаем секрет, не перезаписывая существующее значение
- name: Set fact for password secret
  set_fact:
    graylog_password_secret: "{{ graylog_secret.stdout if (graylog_secret.stdout is defined) else graylog_password_secret }}"


# Генерация SHA256 хеша пароля админа
- name: Generate SHA2 hash for Graylog admin password
  become: true
  shell: "echo -n '{{ graylog_root_password }}' | sha256sum"
  register: graylog_password_hash

#сохраняем хеш!
- name: Set Graylog password hash fact
  set_fact:
    graylog_root_password_sha2: "{{ graylog_password_hash.stdout.split()[0] }}"



# =========================================================
# 6. WAIT FOR MONGO & ELASTICSEARCH
# =========================================================

- name: Wait for Elasticsearch port
  wait_for:
    host: "{{ graylog_host }}"
    port: "{{ ElasticsearchPort }}" #9200
    delay: 3
    timeout: 60


- name: Wait for MongoDB port
  wait_for:
    host: "{{ graylog_host }}"
    port: "{{ MongoDBPort }}" # 27017
    delay: 2
    timeout: 30


# =========================================================
# 7. TEMPLATE CONFIG + START SERVICE
# =========================================================

- name: Template Graylog configuration file
  become: true
  template:
    src: graylog.conf.j2
    dest: "{{ graylog_local_dir }}/server.conf"
    owner: root
    group: graylog
    mode: '0640'
  notify:
    - daemon-reload
    - restart graylog

- name: Ensure Graylog service is enabled and started
  become: true
  systemd:
    name: graylog-server
    enabled: true
    state: started
