---
- name: Set ES requirements
  sysctl:
    name: vm.max_map_count
    value: 262144
    state: present
    reload: yes


- name: Install Elasticsearch from offline repo
  become: true
  dnf:
    name: elasticsearch
    state: present
    disablerepo: "*"
    enablerepo: "graylog-offline"
    disable_gpg_check: true


- name: Enable Elasticsearch
  systemd:
    name: elasticsearch
    enabled: true
    state: started

- name: Установка GPG ключа Elastic
  rpm_key:
    state: present
    key: "{{ local_repo_dir }}/GPG-KEY-elasticsearch"