---
# Основной сценарий роли graylog_offline_install

- name: Install dependencies
  include_tasks: install_dependencies.yml

- name: Install MongoDB
  include_tasks: install_mongodb.yml

- name: Install OpenSearch
  include_tasks: install_opensearch.yml

- name: Install Graylog
  include_tasks: install_graylog_local.yml

- name: Allow port firewall
  include_tasks: firewall.yml

- name: Configure nginx
  include_tasks: nginx_config.yml

