---
# Основной сценарий роли graylog_offline_install


- name: Delete old installation
  include_tasks: uninstall.yaml

- name: Install dependencies
  include_tasks: install_dependencies.yml

- name: Install MongoDB
  include_tasks: install_mongodb.yml

- name: Install elasticsearch
  include_tasks: install_elasticsearch.yml

- name: Install Graylog
  include_tasks: install_graylog_local.yml

- name: Allow port firewall
  include_tasks: firewall.yml

- name: Configure nginx
  include_tasks: nginx_config.yml

