---

- name: Install Nginx
  become: true
  package:
    name: nginx
    state: present

- name: Remove default Nginx config if exists
  become: true
  file:
    path: "{{ nginx_conf_path }}"
    state: absent
  ignore_errors: true


- name: Check if log folder exists
  become: true
  file:
    path: "{{ nginx_log_directory }}"
    state: directory
    owner: nginx
    group: nginx
    mode: '0755'

- name: Copy ssl.conf
  become: true
  copy:
    src: "../scripts/ssl.conf"
    dest: /etc/ssl/ssl.conf
    mode: '0644'
  notify: restart nginx


- name: Generate self-signed SSL certificate for Graylog
  become: true
  command: >
    openssl req -x509 -nodes -days 365
    -subj "/CN={{ inventory_hostname }}"
    -newkey rsa:2048
    -keyout "{{ ssl_certificate_key }}"
    -out "{{ ssl_certificate }}"
  args:
    creates: "{{ ssl_certificate }}"
  notify: restart nginx


- name: Template Graylog configuration file
  become: true
  template:
    src: nginx.conf.j2
    dest: "{{ nginx_conf_path }}"
    mode: '0644'
  notify: restart nginx


- name: Ensure Nginx is enabled and started
  become: true
  systemd:
    name: nginx
    enabled: true
    state: started