---
- name: Ensure cert directory exists
  file:
    path: "{{ ssl_cert_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Generate private key
  community.crypto.openssl_privatekey:
    path: "{{ ssl_key_file }}"
    size: 4096
    type: RSA
    mode: '0600'

- name: Generate CSR
  community.crypto.openssl_csr:
    path: "{{ ssl_csr_file }}"
    privatekey_path: "{{ ssl_key_file }}"
    common_name: "diary.local"
    country_name: "RU"
    organization_name: "Alrexcom"
    organizational_unit_name: "DevOps"
    subject_alt_name:
      - "DNS:diary.local"
      - "DNS:localhost"
      - "IP:127.0.0.1"


- name: Generate self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ ssl_cert_file }}"
    privatekey_path: "{{ ssl_key_file }}"
    csr_path: "{{ ssl_csr_file }}"
    provider: selfsigned
    selfsigned_not_before: "+0d"
    selfsigned_not_after: "+365d"
