---
# vars file for graylog_offline_install
# - java-11-openjdk


packages:
  - java-11-openjdk-headless
  - pwgen
  - dnf-utils
  - curl
  - git
  - gnupg2
  - nginx
  - python3
  - python3-libselinux
  - python3-policycoreutils



graylog_local_rpms:
  - "graylog-server-4.3.15-1.noarch.rpm"
  - "graylog-integrations-plugins-4.3.15-1.noarch.rpm"
  - "graylog-enterprise-plugins-4.3.15-1.x86_64.rpm"
  - "graylog-enterprise-integrations-plugins-4.3.15-1.noarch.rpm"


mongodb_rpms:
  - mongodb-org-server-4.4.29-1.el7.x86_64.rpm
  - mongodb-org-shell-4.4.29-1.el7.x86_64.rpm
  - mongodb-org-mongos-4.4.29-1.el7.x86_64.rpm
  - mongodb-org-tools-4.4.29-1.el7.x86_64.rpm

#  - mongodb-org-database-tools-extra-4.4.29-1.el8.x86_64.rpm



local_repo_dir: "{{ playbook_dir }}/roles/graylog_offline_install/files"
cluster_name: "graylog"



elastic_rpm: "elasticsearch-7.10.2-x86_64.rpm"

graylog_local_dir: "/etc/graylog/server"

# Настройки Graylog
graylog_root_user: "admin"
graylog_root_password: "Qwadro4x4"

# HTTP bind/publish
graylog_http_bind_address: "0.0.0.0:9000"
graylog_http_publish_uri: "http://{{ ansible_default_ipv4.address }}:9000/"

# MongoDB
graylog_mongodb_uri: "mongodb://127.0.0.1:27017/graylog"

nginx_log_directory: "/var/log/graylog"
nginx_proxy_pass: "http://127.0.0.1:9000/"
nginx_conf_path: "/etc/nginx/conf.d/default.conf"


ssl_certificate: "/etc/nginx/graylog.crt"
ssl_certificate_key: "/etc/nginx/graylog.key"

graylog_service_name: "graylog-server"

plugin_dir: "/usr/share/graylog-server/plugin"
