{
  "type": "DASHBOARD",
  "title": "Server Health",
  "search_id": "{{ metricbeat_search_id }}",
  "summary": "",
  "description": "",
  "properties": [],
  "requires": {},
  "state": {
    "82a2ae27-746d-4d3e-904a-98489a9876a4": {
      "widgets": [
        {
          "id": "aa72d504-6419-4866-ad1f-68911b5298a8",
          "type": "aggregation",
          "timerange": {
            "type": "relative",
            "from": 300
          },
          "query": {
            "type": "elasticsearch",
            "query_string": "metricbeat_system_memory_used_pct:[0 TO *]"
          },
          "filter": "streams:{{ metricbeat_stream_id }}",
          "config": {
            "row_pivots": [
              {
                "field": "timestamp",
                "type": "time",
                "config": {
                  "interval": {
                    "type": "timeunit",
                    "value": 1,
                    "unit": "minutes"
                  }
                }
              }
            ],
            "series": [
              {
                "function": "avg(metricbeat_system_memory_used_pct)",
                "config": {
                  "name": "Memory Usage (%)"
                }
              }
            ],
            "visualization": "line",
            "rollup": true
          }
        }
