{
  "type": "DASHBOARD",
  "title": "Server Health",
  "summary": "",
  "description": "Создано в ансибл",
  "search_id": "{{ metricbeat_search_id }}",
  "properties": [],
  "requires": {},
  "state": {
    "metricbeat-query": {
      "widgets": [
        {
          "id": "cpu-usage",
          "type": "aggregation",
          "filter": null,
          "timerange": {
            "type": "relative",
            "from": 300
          },
          "query": {
            "type": "elasticsearch",
            "query_string": "metricbeat_system_cpu_total_pct:>0"
          },
          "streams": [
            "{{ metricbeat_stream_id }}"
          ],
          "config": {
            "row_pivots": [
              {
                "field": "timestamp",
                "type": "time",
                "config": {
                  "interval": {
                    "type": "timeunit",
                    "value": 1,
                    "unit": "minutes"
                  }
                }
              }
            ],
            "column_pivots": [],
            "series": [
              {
                "function": "avg(metricbeat_system_cpu_total_pct)",
                "config": {
                  "name": "CPU Usage %"
                }
              }
            ],
            "sort": [],
            "visualization": "line",
            "visualization_config": {
              "interpolation": "linear"
            },
            "rollup": true,
            "event_annotation": false
          }
        },
               {
          "id": "memory_used",
          "type": "aggregation",
          "filter": null,
          "timerange": {
            "type": "relative",
            "from": 300
          },
          "query": {
            "type": "elasticsearch",
            "query_string": "metricbeat_system_memory_used_pct:>0"
          },
          "streams": [
            "{{ metricbeat_stream_id }}"
          ],
          "config": {
            "row_pivots": [
              {
                "field": "timestamp",
                "type": "time",
                "config": {
                  "interval": {
                    "type": "timeunit",
                    "value": 1,
                    "unit": "minutes"
                  }
                }
              }
            ],
            "column_pivots": [],
            "series": [
              {
                "config": {
                  "name": "Memory Usage (%)"
                },
                "function": "avg(metricbeat_system_memory_used_pct)"
              }
            ],
            "sort": [],
            "visualization": "line",
            "visualization_config": {
              "interpolation": "linear"
            },
            "formatting_settings": null,
            "rollup": true,
            "event_annotation": false
          }
        }

      ],
      "widget_mapping": {
        "cpu-usage": ["cpu-search-type"],
        "memory_used": ["memory-search-type"]
      },
      "positions": {
        "cpu-usage": {
          "col": 9,
          "row": 3,
          "width": 4,
          "height": 4
        },
        "memory_used": {
          "col": 5,
          "row": 3,
          "height": 4,
          "width": 4
        }
      },
      "formatting": {
        "highlighting": []
      },
      "display_mode_settings": {
        "positions": {}
      }
    }
  }
}
